@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playpen+Sans+Hebrew:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

body {
  @apply bg-neutral-900 text-white;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
}
