.welcome {
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: radial-gradient(
      ellipse 60vw 80vh at left center,
      #d3642d30 0%,
      transparent 100%
    ),
    radial-gradient(circle 55vw at top right, #d32d8e30 0%, transparent 100%),
    radial-gradient(circle 55vw at bottom right, #4950a230 0%, transparent 100%);
  background-blend-mode: screen;
}

.welcome h1 {
  opacity: 0;
  animation: welcome-header 500ms ease-in-out 200ms forwards;
}

.welcome h2 {
  opacity: 0;
  animation: welcome-header 500ms ease-in-out 500ms forwards;
}

@keyframes welcome-header {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
